<div id="layer-controls" *ngIf="visible">
  <p><b>Map Layers</b></p>
  <div class="layer-item" *ngFor="let layer of layers">
    <mat-checkbox
      [checked]="layer.visible"
      (change)="onToggleLayer(layer)"
      [color]="layer.id === 'terminals' ? 'accent' : 'primary'"
      class="layer-checkbox"
    >
      <div class="layer-info">
        <mat-icon [style.color]="layer.color" class="layer-icon">{{ layer.icon }}</mat-icon>
        <span class="layer-name">{{ layer.name }}</span>
      </div>
    </mat-checkbox>
  </div>
</div>
