<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    mode="side"
    [(opened)]="sidenavOpened"
    class="sidenav">
    <app-sidebar
      [terminals]="terminals"
      [selectedTerminal]="selectedTerminal"
      [expandedShippingTerminals]="expandedShippingTerminals"
      (terminalFilterChanged)="onTerminalFilterChange($event)"
      (terminalClicked)="onTerminalClick($event)"
      (terminalDetailsRequested)="showTerminalDetails($event.terminal, $event.event)"
      (shippingToggled)="toggleShippingDestinations($event.terminal, $event.event)">
    </app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="map-toolbar">
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        class="sidenav-toggle">
        <mat-icon>{{ sidenavOpened ? 'chevron_left' : 'chevron_right' }}</mat-icon>
      </button>

      <button
        mat-icon-button
        (click)="toggleLayerControls()"
        class="layers-toggle">
        <mat-icon>layers</mat-icon>
      </button>
    </div>

    <app-layer-control
      *ngIf="layerControlsVisible"
      [layers]="layers"
      (layerToggled)="onLayerToggled($event)"
      class="layer-control-panel">
    </app-layer-control>

    <app-map
      [center]="center"
      [zoom]="zoom"
      [terminals]="getVisibleTerminals()"
      [shippingLocations]="getVisibleShippingLocations()"
      (terminalClicked)="onTerminalClick($event)"
      (shippingClicked)="onShippingLocationClick($event)">
    </app-map>
  </mat-sidenav-content>
</mat-sidenav-container>
